.pinterest-grid {
    display: grid;
    grid-template-rows: [title-s] 50px [title-e photos-s] 1fr [photos-e];
    
    // box-sizing: border-box;
    // padding: 0px 40px;

    &__title {
        @include header-md;
        grid-row: title-s/title-e;
        grid-column: title-s/title-e;
    }
    &__photos {
        grid-row: photos-s/photos-e;
        grid-column: photos-s/photos-e;
    }
}



.pinterest-grid-photos {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 0;
  
    &__brick {
        &__photo {
            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
              }
        }
    }
}




